/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: rgb(157, 245, 205);
}

    /* propiedades del header */

header{
    background-color: rgb(157, 245, 205);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header img{
    display: grid;
    grid-template-rows: 1fr;
    padding-top: 30px;
    width: 10%;
    height: 10%;
    margin-left: 30px;
}

    /* Propiedades del footer */

footer{
    text-align: center;
    padding-bottom: 40px;
}

footer p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: small;

}

.instagram{
    align-items: center;
    width: 10vh;
    height: 10vh;
}

.item-fixed{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.whatsapp{
    width: 3rem;
    height: 3rem;
}

/* propiedades de mobile */

    /*  Propiedades del menú */

nav div div ul li .menu-buttom{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: medium;
    text-align: center;
}
nav div div ul ul li .buttom-drop{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: medium;
}


    /* Propiedades del contenido principal */

h1{
    text-align: center;
    padding-top: 40px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: xx-large;
}

h2{
    text-align: center;
    padding-top: 10px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: larger;
}

    /* Propiedades del index */

.main-home div{
    height: 70vh;
    margin: 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,50%);
    row-gap: 1rem;
    column-gap: 1rem;
    align-content: center;
}
.main-home div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-home div .img-uno{
    grid-row: span 2;
}

.main-home div .img-dos, main div .img-tres{
    grid-template-rows: 1fr;
}

.main-home p{
    padding: 60px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: larger;
    column-count: 2;
    text-align: left;
}

    /* Propiedades de nosotros */

.main-nosotros div{
    height: 100vh;
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2,50%) ;
    grid-template-rows: repeat(2,50%);
    object-fit: cover;
}
.main-nosotros iframe{ 
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 1;
    align-content: center;
}

.main-nosotros p{
    margin: 3px;
    text-align: left;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: larger;
    width: 100%;
    height: 100%;  
    grid-column: span 2;
    justify-content: center;  
}

    /* Propiedades de productos (c-enmarcados, chapas y bastidores*/

.img-prod{
    height: 70vh;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-items: center;
}

.img-prod img{
    width: 100%;
    height: 70%;
}

.prod-1, .prod-2, .prod-3, .prod-4{
    grid-row: span 2;
    grid-column: span 2;    
}

.button-1, .button-2, .button-3, .button-4{
    margin-top: 10px;
    padding-left: 5px;
    width: 80px;
    height: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    border-radius: 20px;
    color: black;
    grid-row: span 2;
    grid-column: span 2;
}

    /* Propiedades de mayoristas */

.main-mayoristas div{
    height: 70vh;
    margin: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,50%) ;
    grid-template-rows: repeat(2,50%);
    object-fit: cover;
}

.main-mayoristas div .img-may{
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 1;
    align-content: center;
}

.main-mayoristas div p{
    
    margin: 10px;
    text-align: left;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: larger;
    width: 100%;
    height: 100%;  
    grid-column: span 2;
    justify-content: center;       
}

    /* Propiedades de contacto */

.div-contacto{
    height: 70vh;
    margin: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,50%) ;
    grid-template-rows: repeat(2,50%);
    object-fit: cover;
}

.div-contacto iframe{
    width: 100%;
    height: 100%;
    grid-column: span 2;
    grid-row: span 1;
    align-content: center;
}

.div-contacto p{
    margin: 10px;
    text-align: left;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: larger;
    width: 100%;
    height: 100%;  
    grid-column: span 2;
    justify-content: center;  
}

h3{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: left;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 20px;
}

    /* Propiedades del formulario */

form{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-left: 15px;
}

fieldset{
    border: none;
}

label{
    display: inline-block;
    width: 150px;
    align-items: flex-start;
} 

#name, #email{
    width: 300px;
    margin-bottom: 15px;
}

#mensaje{
    display: inline-block;
    vertical-align: top;
}

#texto{
    display: inline-block;
    vertical-align: top;
}

.submit{
    padding-left: 5px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: small;
    background-color: white;
    border-radius: 20px;
    color: black;
    
}


/* estilos de desktop*/

@media screen and (min-width:1024px){

    /*  Propiedades del menú */

nav div div ul li .menu-buttom{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    border-radius: 20px;

}
   
    /* Propiedades de nosotros  */

.main-nosotros iframe{
    width: 90%;
    height: 50%; 
    grid-column: span 1;
    grid-row: span 2;       
}
    
.main-nosotros p{
    text-align: justify;
    grid-column: span 1;
    grid-row: span 2;
}

    /* Propiedades de productos (c-enmarcados, chapas y bastidores)*/

.img-prod img{
    margin-right: 30px;
    width: 100%;
    height: 100%;
}
 
.prod-1, .prod-2, .prod-3, .prod-4{
    grid-row: span 4;
    grid-column: span 1;
}

.button-1, .button-2, .button-3, .button-4{
    grid-row: span 4;
    grid-column: span 1;
}
    /* Propiedades de mayoristas */

.main-mayoristas div .img-may{
    grid-column: span 1;
    grid-row: span 2;
}

.main-mayoristas div p{        
    grid-column: span 1;   
}

    /* Propiedades de contacto */

.div-contacto iframe{    
    grid-column: span 1;
    grid-row: span 2;
}

.div-contacto p{
    grid-column: span 1;
}

    /* Propiedades del formulario */

.submit{
    padding-left: 5px;
    margin-top: 15px;
    width: 110px;
    height: 40px;
    font-size: large;
}
}
    
   