
// Import Archivos Secundarios

@import "../utilidades/variables";
@import "../utilidades/mixin";

/* Propiedades de Contacto */

.main-contacto{
    @include prop-100;
    .div-contacto{
            .map{
                display: none;
            }
            p{
               display: none;   
            }
    }
    h3{
        font-weight: $font-w-large;
        font-size: $font-s-xl;
        text-align: left;
        margin-top: 40px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    /*Propiedades del Formulario*/

    form{
        @include tipo-mobile;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        fieldset{
            div{
                label{
                    display: block;
                    margin-bottom: 5px;
                }
                input{
                    width: $ancho;
                    border: 1px solid black;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
                textarea{
                    width: $ancho;
                    border: 1px solid black;
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }
            .buttons-form{
                display: flex; 
                justify-content: $align-flexstart;
                margin-top: 10px;
                .submit, .submit-1{
                    margin: 0 5px;
                    width: 85px;
                    height: 30px;
                    font-weight: $font-w-small;
                    font-size: $font-s-medium;
                    background-color: $color-submit;
                    border: none;
                    border-radius: 20px;
                    color: $color-tipografia;
                    &:hover {
                        filter: drop-shadow(2px 2px 2px $color-shadow);
                    }
                }
            }
        }
    }
}