
// Import Archivos Secundarios

@import "../utilidades/variables";
@import "../utilidades/mixin";


/* Propiedades del Index*/

.main-home{
    div{
        img{
            @include foto-prod;
        }
    }
    .img-index{
        margin-top: 30px;
        height: 70vh;
        @include grid-home;
        grid-template-rows: repeat(2,50%);
        align-content: $align-center;
        .img-uno{
            grid-row: span 2;
        }
        .img-dos{
            grid-template-rows: 1fr;
        }
        .img-tres{
            grid-template-rows: 1fr;
        }
    }
    .envios{
        margin-top: 30px;
    }
}

