
// Import Archivos Secundarios

@import "../utilidades/variables";
@import "../utilidades/mixin";

    /* Propiedades de Mayoristas */

.main-mayoristas{
    margin-bottom: 20px;
        .container-may{
            margin-top: 30px;
            @include flex-column;
            p{
                @include prop-100;
                @include tipo-mobile;
                text-align: $align-justify;
                span{
                    font-weight: $font-w-black;
                }
            }
            .mayoristas{
                @include grid-home;
                grid-template-rows: auto;
                gap: 10px;
                .img-may{
                    @include flex-column;
                    gap: 10px;
                    img{
                        @include prop-100-auto;
                    }
                }
                iframe{
                    @include prop-100;
                }                
            }
        }
}
