// Import Archivos Secundarios

@import "../utilidades/variables";
@import "../utilidades/mixin";

/*Propiedades de Nosotros*/

.main-nosotros{
    .container-nosotros{
        @include flex-column;
        align-items: $align-center;
        padding: 20px;
        .container-video{
            width: $ancho;
            max-width: 800px;
            margin-bottom: 20px;
            iframe{
                @include prop-100-auto;
                aspect-ratio: 16 / 9;
            }          
        }
        p{
            @include tipo-mobile;
            padding-top: 15px;
            text-align: $align-justify;
            width: $ancho;  
            max-width: 800px;
            line-height: 1.5;
            span{
                display: none;
            }
        }
        .galeria{
            display: none;
        }
    }
}
